<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Il Mio Progetto{% endblock %}</title>
</head>
<body>
    <hr>
    <h1>Lista dei dipartimenti</h1>
    <!-- Contenuto principale -->
    <main>
        <h2>query set</h2> 
        {{ dipartimenti}}
        {{ corsi_di_laurea }}
        <hr>
        <h2>corsi di laurea</h2>
        {% for corso in corsi_di_laurea %}
            <p>Nome: {{ corso.nome }}</p>
            <p>Classe di laurea: {{ corso.classe_di_laurea }}</p>
            <p>Tipo: {{ corso.tipo }}</p>
            <p>Dipartimento: {{ corso.dipartimento }}</p>
        {% empty %}
            <p>Nessun corso di laurea trovato.</p>
        {% endfor %}
    </main>

    <hr>
    <footer>
        <p>&copy; {% now "Y" %} Django u_exam project</p>
    </footer>
</body>
</html>
